<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto mt-5">
                <h1>Posts</h1>
            </div>
            <div class="col-12 mx-auto mt-5">
                {% if not object_list %}
                there is no articles yet...

                {% else %}
                {% for item in object_list %}
                <div class="d-flex flex-row align-items-center mt-4">
                    <div class="col-4 pe-4">
                        <img src="{{ item.header_image.url }}" class="img-thumbnail float-right" alt="">
                    </div>
                    <div class="col-8">
                        <h4 class="title mb-5">
                            <a href="{{ item.slug }}">{{ item.title }}</a>
                        </h4>
                        <p>{{ item.content|truncatechars:9  }}</p>
                        Author: <strong> {{ item.author }} </strong>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
</body>

</html>